{% extends 'base.html' %} 

{% block content %}


<body>
  <div class="grid-container-h">
    <div id="SR">Sudoku Rules</div>
    <!-- This page represents the general sudoku rules -->
  </div>
  <br /><br /><br />
  <div class="content">
    <h2 class="rules">Sudoku Grid</h2>
    <p>
      Every Sudoku puzzle involves a 9×9 grid of squares subdivided into 3×3
      boxes.
    </p>
    <img src="static\Flutter-Sudoku.jpg" alt="Sudoku" width="333" height="333"
    >
    <p>
      In total there are 81 squares on a Sudoku grid and when the puzzle is
      completed each square will contain exactly one number.
    </p>
    <h3 class="rules">
      Rule 1 - Each row must contain the numbers from 1 to 9, without
      repetitions
    </h3>
    <p>
      The player must focus on filling each row of the grid while ensuring there
      are no duplicated numbers. The placement order of the digits is
      irrelevant.
    </p>
    <img src="static\Sudoku row.jpg" alt="row" width="300" height="35" />
    <p>
      Every puzzle, regardless of the difficulty level, begins with allocated
      numbers on the grid. The player should use these numbers as clues to find
      which digits are missing in each row.
    </p>
    <h3 class="rules">
      Rule 2 - Each column must contain the numbers from 1 to 9, without
      repetitions
    </h3>
    <p>
      Each column must contain the numbers from 1 to 9, without repetitions The
      Sudoku rules for the columns on the grid are exactly the same as for the
      rows. The player must also fill these with the numbers from 1 to 9, making
      sure each digit occurs only once per column.
    </p>
    <img src="static\Sudoku col.jpg" alt="column" width="40" height="300" />
    <p>
      The numbers allocated at the beginning of the puzzle work as clues to find
      which digits are missing in each column and their position.
    </p>
    <h3 class="rules">Rule 3 - The digits can only occur once per block (nonet)</h3>
    <p>
      A regular 9 x 9 grid is divided into 9 smaller blocks of 3 x 3, also known
      as nonets. The numbers from 1 to 9 can only occur once per nonet.
    </p>
    <img src="static\Sudoku block.jpg" alt="column" width="150" height="150" />
    <p>
      In practice, this means that the process of filling the rows and columns
      without duplicated digits finds inside each block another restriction to
      the numbers’ positioning.
    </p>
    <h3 class="rules">
      Rule 4 - The sum of every single row, column and nonet must equal 45
    </h3>
    <p>
      To find out which numbers are missing from each row, column or block or if
      there are any duplicates, the player can simply count or flex their math
      skills and sum the numbers. When the digits occur only once, the total of
      each row, column and group must be of 45. 1+2+3+4+5+6+7+8+9= 45
    </p>
    <h2 class="rules">Other details to take into consideration</h2>
    <h3 class="rules">1. Each puzzle has a unique solution</h3>
    <p>
      Each Sudoku puzzle has only one possible solution that can only be
      achieved by following the Sudoku rules correctly. Multiple solutions only
      occur when the puzzle is poorly designed or, the most frequent reason,
      when the player makes a mistake in its resolution and a duplicate is
      hidden somewhere on the grid.
    </p>
    <h3 class="rules">2. Guessing is not recommended</h3>
    <p>
      Trying to guess the solution for each cell is not allowed under Sudoku
      rules. These are logical number puzzles. The numbers allocated at the
      beginning of the game are the only clues the player needs to solve the
      grid.
    </p>
    <h3 class="rules">3. Notes and techniques</h3>
    <p>
      Writing down the numbers that are candidates to each cell is allowed by
      Sudoku rules and even encouraged. These help the player keep track of
      their progress and keep their reasoning organized and clear. As the
      difficulty level of these puzzles increases, these notes also become
      essential to be able to apply the advanced solving techniques required to
      complete the grid.
    </p>
  </div>
  <hr>
  <!-- Footer -->
  <div class="footer-basic" >
      <footer style="background-color:black ; margin-top: 10px;">
          <br>
          <ul class="list-inline" style="margin-top: 20px;">
            <li class="list-inline-item"><a href={{url_for('sudoku')}}>Home</a></li>
            <li class="list-inline-item"><a href={{url_for('rules')}}>Rules</a></li>
            <li class="list-inline-item"><a href={{url_for('logout')}}>Logout</a></li>
              
          </ul>
          <div style="color: white; font-weight: bold;">
              <p class="copyright" > 
              <h1>Developed by:</h1> Ayush Paudel, Rajat Menon, Shreyansh Suhane, and Saiyra Beri </p>
          </div>
          <br>
          
          
      </footer>
     </div> 

</body>
{% endblock %}
